In [0]:
home = "dbfs:/mnt/data"

path_LMS = f"{home}/data/Predict-Forclosure/Foreclosure-Prediction-Dataset/LMS_31JAN2019.csv"
path_RMS_Final = f"{home}/data/Predict-Forclosure/Foreclosure-Prediction-Dataset/RF_Final_Data.csv"
path_Customer = f"{home}/data/Predict-Forclosure/Foreclosure-Prediction-Dataset/Customers_31JAN2019.csv"

In [0]:
df_lms = spark\
.read\
.option("inferSchema", "true")\
.option("header", "true")\
.csv(path_LMS)
df_lms

DataFrame[AGREEMENTID: int, CUSTOMERID: string, LOAN_AMT: string, NET_DISBURSED_AMT: string, INTEREST_START_DATE: string, CURRENT_ROI: double, ORIGNAL_ROI: double, CURRENT_TENOR: int, ORIGNAL_TENOR: int, DUEDAY: int, AUTHORIZATIONDATE: string, CITY: string, PRE_EMI_DUEAMT: double, PRE_EMI_RECEIVED_AMT: double, PRE_EMI_OS_AMOUNT: double, EMI_DUEAMT: double, EMI_RECEIVED_AMT: double, EMI_OS_AMOUNT: double, EXCESS_AVAILABLE: double, EXCESS_ADJUSTED_AMT: double, BALANCE_EXCESS: double, NET_RECEIVABLE: double, OUTSTANDING_PRINCIPAL: double, PAID_PRINCIPAL: double, PAID_INTEREST: double, MONTHOPENING: double, LAST_RECEIPT_DATE: string, LAST_RECEIPT_AMOUNT: double, NET_LTV: double, COMPLETED_TENURE: int, BALANCE_TENURE: int, DPD: int, FOIR: double, PRODUCT: string, SCHEMEID: string, NPA_IN_LAST_MONTH: string, NPA_IN_CURRENT_MONTH: string, MOB: int]

In [0]:
df_RMS_Final = spark\
.read\
.option("inferSchema", "true")\
.option("header", "true")\
.csv(path_RMS_Final)
df_RMS_Final

DataFrame[TicketId: string, Type: string, SubType: string, Status: string, Date: string, Preprocessed_EmailBody: string, Preprocessed_Subject: string, Masked_CustomerID: string, Masked_AgreementID: string]

In [0]:
df_Customer = spark\
.read\
.option("inferSchema", "true")\
.option("header", "true")\
.csv(path_Customer)
df_Customer

DataFrame[CUSTOMERID: int, CUST_CONSTTYPE_ID: int, CUST_CATEGORYID: int, PROFESSION: string, AGE: int, SEX: string, MARITAL_STATUS: string, QUALIFICATION: string, NO_OF_DEPENDENT: int, OCCUPATION: string, POSITION: string, GROSS_INCOME: double, PRE_JOBYEARS: int, NETTAKEHOMEINCOME: double, BRANCH_PINCODE: string]

In [0]:
df_Customer.limit(10).toPandas()

   CUSTOMERID  CUST_CONSTTYPE_ID  ...  NETTAKEHOMEINCOME BRANCH_PINCODE
0    12001000                  1  ...       198375.22180         400070
1    12001001                  1  ...       242703.98290         400070
2    12001002                  1  ...            0.00000         400070
3    12001003                  3  ...       365263.51610         400070
4    12001004                  3  ...       187342.19900         400070
5    12001005                  3  ...        53536.20823         400070
6    12001006                  3  ...        49842.14530         400070
7    12001007                  1  ...       123370.48370         400070
8    12001008                  1  ...       183331.98720         400070
9    12001009                  3  ...        93803.83957         400070

[10 rows x 15 columns]

In [0]:
df_RMS_Final.limit(10).toPandas()

         TicketId  ... Masked_AgreementID
0          571910  ...                  0
1          572747  ...                  0
2            4622  ...                  0
3            4674  ...           11230237
4            4681  ...               None
5          on wed  ...               None
6   dear customer  ...               None
7            4736  ...                  0
8            4779  ...                  0
9            5201  ...               None

[10 rows x 9 columns]

In [0]:
df_lms.limit(10).toPandas()

   AGREEMENTID CUSTOMERID  ... NPA_IN_CURRENT_MONTH MOB
0     11220001   12001000  ...                 None  39
1     11220002   12001001  ...                 None  38
2     11220003   12001002  ...                 None  38
3     11220004   12001003  ...                 None  38
4     11220005   12001004  ...                 None  38
5     11220006   12001005  ...                 None  36
6     11220007   12001006  ...                 None  37
7     11220008   12001007  ...                 None  37
8     11220009   12001008  ...                 None  36
9     11220010   12001009  ...                 None  37

[10 rows x 38 columns]

In [0]:
df_lms = df_lms.repartition(6)

In [0]:
df_lms.limit(10).toPandas()

   AGREEMENTID CUSTOMERID  ... NPA_IN_CURRENT_MONTH MOB
0     11220001   12001000  ...                 None  44
1     11220003   12001002  ...                 None  63
2     11220003   12001002  ...                 None  69
3     11220003   12001002  ...                 None  40
4     11220003   12001002  ...                 None  47
5     11220003   12001002  ...                 None  53
6     11220005   12001004  ...                 None  38
7     11220005   12001004  ...                 None  45
8     11220006   12001005  ...                 None  63
9     11220006   12001005  ...                 None  69

[10 rows x 38 columns]

In [0]:
print(df_lms.columns)

['AGREEMENTID', 'CUSTOMERID', 'LOAN_AMT', 'NET_DISBURSED_AMT', 'INTEREST_START_DATE', 'CURRENT_ROI', 'ORIGNAL_ROI', 'CURRENT_TENOR', 'ORIGNAL_TENOR', 'DUEDAY', 'AUTHORIZATIONDATE', 'CITY', 'PRE_EMI_DUEAMT', 'PRE_EMI_RECEIVED_AMT', 'PRE_EMI_OS_AMOUNT', 'EMI_DUEAMT', 'EMI_RECEIVED_AMT', 'EMI_OS_AMOUNT', 'EXCESS_AVAILABLE', 'EXCESS_ADJUSTED_AMT', 'BALANCE_EXCESS', 'NET_RECEIVABLE', 'OUTSTANDING_PRINCIPAL', 'PAID_PRINCIPAL', 'PAID_INTEREST', 'MONTHOPENING', 'LAST_RECEIPT_DATE', 'LAST_RECEIPT_AMOUNT', 'NET_LTV', 'COMPLETED_TENURE', 'BALANCE_TENURE', 'DPD', 'FOIR', 'PRODUCT', 'SCHEMEID', 'NPA_IN_LAST_MONTH', 'NPA_IN_CURRENT_MONTH', 'MOB']

In [0]:
print(df_Customer.columns)

['CUSTOMERID', 'CUST_CONSTTYPE_ID', 'CUST_CATEGORYID', 'PROFESSION', 'AGE', 'SEX', 'MARITAL_STATUS', 'QUALIFICATION', 'NO_OF_DEPENDENT', 'OCCUPATION', 'POSITION', 'GROSS_INCOME', 'PRE_JOBYEARS', 'NETTAKEHOMEINCOME', 'BRANCH_PINCODE']

In [0]:
print(df_RMS_Final)

DataFrame[TicketId: string, Type: string, SubType: string, Status: string, Date: string, Preprocessed_EmailBody: string, Preprocessed_Subject: string, Masked_CustomerID: string, Masked_AgreementID: string]

In [0]:
df_lms_join=df_lms.alias("df_lms"). \
    join(df_Customer.alias("df_Customer"), df_lms.CUSTOMERID == df_Customer.CUSTOMERID). \
    select("df_lms.CUSTOMERID","df_Customer.SEX","df_Customer.MARITAL_STATUS","df_Customer.GROSS_INCOME","df_Customer.PRE_JOBYEARS")

In [0]:
df_lms_join.limit(10).toPandas()

  CUSTOMERID SEX MARITAL_STATUS  GROSS_INCOME  PRE_JOBYEARS
0   12001000   M              M  198375.22180           8.0
1   12001002   M              M       0.00000           NaN
2   12001002   M              M       0.00000           NaN
3   12001002   M              M       0.00000           NaN
4   12001002   M              M       0.00000           NaN
5   12001002   M              M       0.00000           NaN
6   12001004   M              M  187342.19900           NaN
7   12001004   M              M  187342.19900           NaN
8   12001005   M              M   53536.20823           NaN
9   12001005   M              M   53536.20823           NaN

![image.png](attachment:image.png)

### What is Spark Logical Plan?
- Logical Plan refers to an abstract of all transformation steps that need to be executed
- However, it does not provide details about the Driver(Master Node) or Executor (Workder Node)
- This helps us to achieve the most optimized version from the user expression.
- The Logical Plan is divided into three parts:
![image.png](attachment:image.png)

- We should run the explain command with a true argument to see both physical and logical plans

### Merge Filters
- Spark performs optimization by itself in the optimized logical plan
- It can figure out that there is no requirement for two filters
- Instead, it completes execution in one filter because the same task can be done by using just one filter through the 'and' operator

### First part: Unresolved/Parsed Logical plan generation

- The first step contributes to the generation of an Unresolved Logical Plan.
- We call it an Unresolved Logical Plan because the column or table names may be inaccurate or may not even exist even when we have a valid code and correct syntax
- This plan is generated post verifying that everything is correct on the syntactic field
- Next, the first version of a logical plan is produced where the relation name and columns are not specifically resolved after the semantic analysis is executed

![image.png](attachment:image.png)

### Second part: Resolved/Analyzed Logical plan generation
- After the generation of an unresolved plan, it will resolve everything that is unresolved yet by accessing an internal Spark structure mentioned as Catalog in the previous schema.
- Catalog is a repository of Spark table, DataFrame and DataSet. The data from meta-store is pulled into an internal storage component of Spark (also know as Catalog).
- Analyzer helps us to resolve/verify the semantics, column name, table name by cross-checking with the Catalog
- The analyzer can reject the Unresolved Logical Plan when it is not able to resolve them (column name, table name, etc.). It creates a Resolved Logical Plan if it is able to resolve them.
- Upon successful completion of everything, the plan is marked as Analyzed Logical Plan

### Third part: Optimized logical Plan:
- The Resolved Logical plan will be passed on to a Catalyst Optimizer after it is generated
- Catalyst Optimizer will try to optimize the plan after applying its own rule. Basically, the Catalyst Optimizer is responsible to perform logical optimization. For example,
    - It checks all the tasks which can be performed and computed together in one Stage.
    - It decides the order of execution of queries for better performance in the case of a multi-join query.
    - It tries to optimize the query by evaluating the filter clause before any project.

### What is a Spark Physical Plan?
- Physical Plan is an internal enhancement or optimization for Spark
- Suppose, theres a join query between two tables
- In that join operation, one of them is a large table and the other one is a small table with a different number of partitions scattered in different nodes across the cluster
- Spark decides which partitions should be joined at the start (order of joining), the type of join, etc. for better optimization.
- Physical Plan is limited to Spark operation and for this, it will do an evaluation of multiple physical plans and finalize the suitable optimal physical plan. And ultimately, the finest Physical Plan runs.
- Once the finest Physical Plan is selected, executable code (DAG of RDDs) for the query is created which needs to be executed in a distributed manner on the cluster.

![image.png](attachment:image.png)

![image.png](attachment:image.png)

### Physical plan is:
- A bridge between Logical Plans and RDDs
- It is a tree
- Contains more specific description of how things (execution) should happen (specific choice of algorithm)

### Cost Model
- Catalyst Optimizer in Spark generates different kinds of execution strategies/plans and then compare them with Cost Model.
- Cost Model estimates the execution time and resources required by each strategy/plan
- Finally, whichever strategy/plan is going to be the best optimal one is selected as the Best Physical Plan.

### How Apache Spark builds a DAG and Physical Execution Plan ?
- User submits a spark application to the Apache Spark.
- Driver is the module that takes in the application from Spark side.
- Driver identifies transformations and actions present in the spark application. These identifications are the tasks.
- Based on the flow of program, these tasks are arranged in a graph like structure with directed flow of execution from task to task forming no loops in the graph (also called DAG). DAG is pure logical.
- This logical DAG is converted to Physical Execution Plan. Physical Execution Plan contains stages.
- Some of the subsequent tasks in DAG could be combined together in a single stage. Based on the nature of transformations, 
- Driver sets stage boundaries
- There are two transformations, namely narrow transformations and wide transformations
- Narrow transformations : Transformations like Map and Filter that does not require the data to be shuffled across the partitions
- Wide transformations : Transformations like ReduceByKey that does require the data to be shuffled across the partitions. 
- Transformation that requires data shuffling between partitions, i.e., a wide transformation results in stage boundary.
- DAG Scheduler creates a Physical Execution Plan from the logical DAG. Physical Execution Plan contains tasks and are bundled to be sent to nodes of cluster.

## How to generate execution plans

### First Option

In [0]:
df_lms_join.explain(True)

== Parsed Logical Plan ==
'Project ['df_lms.CUSTOMERID, 'df_Customer.SEX, 'df_Customer.MARITAL_STATUS, 'df_Customer.GROSS_INCOME, 'df_Customer.PRE_JOBYEARS]
+- Join Inner, (cast(CUSTOMERID#4532 as int) = CUSTOMERID#4659)
   :- SubqueryAlias df_lms
   :  +- Repartition 6, true
   :     +- Relation [AGREEMENTID#4531,CUSTOMERID#4532,LOAN_AMT#4533,NET_DISBURSED_AMT#4534,INTEREST_START_DATE#4535,CURRENT_ROI#4536,ORIGNAL_ROI#4537,CURRENT_TENOR#4538,ORIGNAL_TENOR#4539,DUEDAY#4540,AUTHORIZATIONDATE#4541,CITY#4542,PRE_EMI_DUEAMT#4543,PRE_EMI_RECEIVED_AMT#4544,PRE_EMI_OS_AMOUNT#4545,EMI_DUEAMT#4546,EMI_RECEIVED_AMT#4547,EMI_OS_AMOUNT#4548,EXCESS_AVAILABLE#4549,EXCESS_ADJUSTED_AMT#4550,BALANCE_EXCESS#4551,NET_RECEIVABLE#4552,OUTSTANDING_PRINCIPAL#4553,PAID_PRINCIPAL#4554,... 14 more fields] csv
   +- SubqueryAlias df_Customer
      +- Relation [CUSTOMERID#4659,CUST_CONSTTYPE_ID#4660,CUST_CATEGORYID#4661,PROFESSION#4662,AGE#4663,SEX#4664,MARITAL_STATUS#4665,QUALIFICATION#4666,NO_OF_DEPENDENT#4667,OCCUPATION#4668,POSITION#4669,GROSS_INCOME#4670,PRE_JOBYEARS#4671,NETTAKEHOMEINCOME#4672,BRANCH_PINCODE#4673] csv

== Analyzed Logical Plan ==
CUSTOMERID: string, SEX: string, MARITAL_STATUS: string, GROSS_INCOME: double, PRE_JOBYEARS: int
Project [CUSTOMERID#4532, SEX#4664, MARITAL_STATUS#4665, GROSS_INCOME#4670, PRE_JOBYEARS#4671]
+- Join Inner, (cast(CUSTOMERID#4532 as int) = CUSTOMERID#4659)
   :- SubqueryAlias df_lms
   :  +- Repartition 6, true
   :     +- Relation [AGREEMENTID#4531,CUSTOMERID#4532,LOAN_AMT#4533,NET_DISBURSED_AMT#4534,INTEREST_START_DATE#4535,CURRENT_ROI#4536,ORIGNAL_ROI#4537,CURRENT_TENOR#4538,ORIGNAL_TENOR#4539,DUEDAY#4540,AUTHORIZATIONDATE#4541,CITY#4542,PRE_EMI_DUEAMT#4543,PRE_EMI_RECEIVED_AMT#4544,PRE_EMI_OS_AMOUNT#4545,EMI_DUEAMT#4546,EMI_RECEIVED_AMT#4547,EMI_OS_AMOUNT#4548,EXCESS_AVAILABLE#4549,EXCESS_ADJUSTED_AMT#4550,BALANCE_EXCESS#4551,NET_RECEIVABLE#4552,OUTSTANDING_PRINCIPAL#4553,PAID_PRINCIPAL#4554,... 14 more fields] csv
   +- SubqueryAlias df_Customer
      +- Relation [CUSTOMERID#4659,CUST_CONSTTYPE_ID#4660,CUST_CATEGORYID#4661,PROFESSION#4662,AGE#4663,SEX#4664,MARITAL_STATUS#4665,QUALIFICATION#4666,NO_OF_DEPENDENT#4667,OCCUPATION#4668,POSITION#4669,GROSS_INCOME#4670,PRE_JOBYEARS#4671,NETTAKEHOMEINCOME#4672,BRANCH_PINCODE#4673] csv

== Optimized Logical Plan ==
Project [CUSTOMERID#4532, SEX#4664, MARITAL_STATUS#4665, GROSS_INCOME#4670, PRE_JOBYEARS#4671]
+- Join Inner, (cast(CUSTOMERID#4532 as int) = CUSTOMERID#4659)
   :- Repartition 6, true
   :  +- Project [CUSTOMERID#4532]
   :     +- Filter isnotnull(CUSTOMERID#4532)
   :        +- Relation [AGREEMENTID#4531,CUSTOMERID#4532,LOAN_AMT#4533,NET_DISBURSED_AMT#4534,INTEREST_START_DATE#4535,CURRENT_ROI#4536,ORIGNAL_ROI#4537,CURRENT_TENOR#4538,ORIGNAL_TENOR#4539,DUEDAY#4540,AUTHORIZATIONDATE#4541,CITY#4542,PRE_EMI_DUEAMT#4543,PRE_EMI_RECEIVED_AMT#4544,PRE_EMI_OS_AMOUNT#4545,EMI_DUEAMT#4546,EMI_RECEIVED_AMT#4547,EMI_OS_AMOUNT#4548,EXCESS_AVAILABLE#4549,EXCESS_ADJUSTED_AMT#4550,BALANCE_EXCESS#4551,NET_RECEIVABLE#4552,OUTSTANDING_PRINCIPAL#4553,PAID_PRINCIPAL#4554,... 14 more fields] csv
   +- Project [CUSTOMERID#4659, SEX#4664, MARITAL_STATUS#4665, GROSS_INCOME#4670, PRE_JOBYEARS#4671]
      +- Filter isnotnull(CUSTOMERID#4659)
         +- Relation [CUSTOMERID#4659,CUST_CONSTTYPE_ID#4660,CUST_CATEGORYID#4661,PROFESSION#4662,AGE#4663,SEX#4664,MARITAL_STATUS#4665,QUALIFICATION#4666,NO_OF_DEPENDENT#4667,OCCUPATION#4668,POSITION#4669,GROSS_INCOME#4670,PRE_JOBYEARS#4671,NETTAKEHOMEINCOME#4672,BRANCH_PINCODE#4673] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- == Initial Plan ==
   ColumnarToRow
   +- PhotonResultStage
      +- PhotonProject [CUSTOMERID#4532, SEX#4664, MARITAL_STATUS#4665, GROSS_INCOME#4670, PRE_JOBYEARS#4671]
         +- PhotonBroadcastHashJoin [cast(CUSTOMERID#4532 as int)], [CUSTOMERID#4659], Inner, BuildRight, false, true
            :- PhotonShuffleExchangeSource
            :  +- PhotonShuffleMapStage
            :     +- PhotonShuffleExchangeSink RoundRobinPartitioning(6)
            :        +- PhotonSort [CUSTOMERID#4532 ASC NULLS FIRST]
            :           +- PhotonFilter isnotnull(CUSTOMERID#4532)
            :              +- PhotonRowToColumnar
            :                 +- FileScan csv [CUSTOMERID#4532] Batched: false, DataFilters: [isnotnull(CUSTOMERID#4532)], Format: CSV, Location: InMemoryFileIndex(1 paths)[dbfs:/mnt/data/data/Predict-Forclosure/Foreclosure-Prediction-Dataset/..., PartitionFilters: [], PushedFilters: [IsNotNull(CUSTOMERID)], ReadSchema: struct<CUSTOMERID:string>
            +- PhotonShuffleExchangeSource
               +- PhotonShuffleMapStage
                  +- PhotonShuffleExchangeSink SinglePartition
                     +- PhotonFilter isnotnull(CUSTOMERID#4659)
                        +- PhotonRowToColumnar
                           +- FileScan csv [CUSTOMERID#4659,SEX#4664,MARITAL_STATUS#4665,GROSS_INCOME#4670,PRE_JOBYEARS#4671] Batched: false, DataFilters: [isnotnull(CUSTOMERID#4659)], Format: CSV, Location: InMemoryFileIndex(1 paths)[dbfs:/mnt/data/data/Predict-Forclosure/Foreclosure-Prediction-Dataset/..., PartitionFilters: [], PushedFilters: [IsNotNull(CUSTOMERID)], ReadSchema: struct<CUSTOMERID:int,SEX:string,MARITAL_STATUS:string,GROSS_INCOME:double,PRE_JOBYEARS:int>

== Photon Explanation ==
The query is fully supported by Photon.

### Second Option
- The second option to see the plan is going to the SQL tab in Spark UI where are lists of all running and finished queries
- By clicking on your query you will see the graphical representation of the physical plan

![image.png](attachment:image.png)

### Difference
- The graphical representation has the leaf nodes on the top and the root is at the bottom, while the textual tree is upside down.

### CollapseCodegenStages
- In the graphical representation of the physical plan, you can see that the operators are grouped into big blue rectangles. 
- These big rectangles correspond to codegen stages
- It is an optimization feature, which takes place in the phase of physical planning
- There is a rule called CollapseCodegenStages which is responsible for that and the idea is to take operators that support code generation and collapse it together to speed-up the execution by eliminating virtual function calls
- Not all operators support code generation, so some operators (for instance Exchange) are not part of the big rectangles
- In our example, there are few codegen stages that correspond to the big rectangles and in the plan output, you can see the id of the codegen stage in the brackets at the operator
- Also from the tree, you can tell if an operator supports the codegen or not because there is an asterisk with corresponding stage codegen id in the parenthesis if the codegen is supported.

### Scan CSV
- Represents reading the data
- From the detailed information, you can directly see what columns will be selected from the source
- We can also see here two types of filters: PartitionFilters and PushedFilters
- PartitionFilters
    - Applied on columns by which the datasource is partitioned in the file system.
    - These are very important because they allow for skipping the data that we dont need
    - It is always good to check whether the filters are propagated here correctly
    - The idea behind this is to read as little data as possible since the I/O is expensive.
- PushedFilters
    - Filters on fields that can be pushed directly to files

![image.png](attachment:image.png)

### Filter
- Represents the filtering condition
- Very often it doesnt directly correspond to the filtering condition used in the query
- The reason for that is that all the filters are first processed by the Catalyst optimizer which may modify and relocate them. 
- There are several rules applied to the logical filters before they are converted to a physical operator
- Lets list a couple of the rules here:
    - PushDownPredicates  Will push filters closer to the source.
    - CombineFilters  combines two neighboring operators into one
    - InferFiltersFromConstraints  this rule actually creates a new Filter operator for example from a join condition (from a simple inner join it will create a filter condition joining key is not null).
    - PruneFilters  removes redundant filters (for example if a filter always evaluates to True).

### Project
- This operator simply represents what columns will be projected (selected)
- Each time we call select, withColumn, or drop transformations on a DataFrame, Spark will add the Project operator to the logical plan which is then converted to its counterpart in the physical plan

### Exchange
- Represents shuffle, which is a physical data movement on the cluster
- Considered to be quite expensive because it moves the data over the network
- The information in the query plan contains also details about how the data will be repartitioned

- There are many types of partitioning:
    - RoundRobinPartitioning  with this partitioning the data will be distributed randomly into n approximately equally sized partitions, where n is specified by the user in the repartition(n) function
    - SinglePartition  with this partitioning all the data are moved to a single partition to a single executor
    - RangePartitioning  this partitioning is used when sorting the data, after calling orderBy or sort transformations.

In [0]:
df_Customer.columns

['CUSTOMERID',
 'CUST_CONSTTYPE_ID',
 'CUST_CATEGORYID',
 'PROFESSION',
 'AGE',
 'SEX',
 'MARITAL_STATUS',
 'QUALIFICATION',
 'NO_OF_DEPENDENT',
 'OCCUPATION',
 'POSITION',
 'GROSS_INCOME',
 'PRE_JOBYEARS',
 'NETTAKEHOMEINCOME',
 'BRANCH_PINCODE']

In [0]:
from pyspark.sql.functions import count

In [0]:
df_Customer.groupBy("POSITION").agg(count('NO_OF_DEPENDENT')).explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- == Initial Plan ==
   ColumnarToRow
   +- PhotonResultStage
      +- PhotonGroupingAgg(keys=[POSITION#4669], functions=[finalmerge_count(merge count#4927L) AS count(NO_OF_DEPENDENT#4667)#4922L])
         +- PhotonShuffleExchangeSource
            +- PhotonShuffleMapStage
               +- PhotonShuffleExchangeSink hashpartitioning(POSITION#4669, 200)
                  +- PhotonGroupingAgg(keys=[POSITION#4669], functions=[partial_count(NO_OF_DEPENDENT#4667) AS count#4927L])
                     +- PhotonRowToColumnar
                        +- FileScan csv [NO_OF_DEPENDENT#4667,POSITION#4669] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[dbfs:/mnt/data/data/Predict-Forclosure/Foreclosure-Prediction-Dataset/..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<NO_OF_DEPENDENT:int,POSITION:string>


== Photon Explanation ==
The query is fully supported by Photon.

![image.png](attachment:image.png)

### HashAggregate
- Represents data aggregation
- It usually comes in pair of two operators which may or may not be divided by an Exchange
- The reason for having two HashAggregate operators is that the first one does a partial aggregation, which aggregates separately each partition on each executor

### BroadcastHashJoin & BroadcastExchange
- The BroadcastHashJoin (BHJ) is an operator that represents a specific joining algorithm
- Apart from this one, there are also other joining algorithms available in Spark such as SortMergeJoin or ShuffleHashJoin
- BHJ always comes in a pair with BroadcastExchange which is an operator that represents the broadcasted shuffle  the data will be collected to the driver and then send over to each executor where it will be available for the join.

### And how AQE (Adaptive Query Execution) interact with this stuff ???
- AQE is a new feature in Spark 3.0 which enables plan changes at runtime.
- It collects statistics during plan execution and if Spark detects better plan during execution, it changes them at runtime.
- If we put this on an update of the catalyst Optimizer schema, it will give something like that:

![image.png](attachment:image.png)

- However, any changes decided during DAG execution wont be displayed after calling explain() function
- If you want to see these changes, you will have to explore Spark UI and tracking skew partitions splits, joins changes etc.
- For example, if you enable AQE (which is not enabled by default), explain call will produce a hint in the physical plan display:

![image.png](attachment:image.png)

- In the explain output, you are hinted this physical plan is not the final plan, but if you have a look at the Spark UI, you will see that the SQL query plan is the final plan and optionally if the plan has been modified:

![image.png](attachment:image.png)

### Whole-Stage Java Code Generation (aka Whole-Stage CodeGen)
- A physical query optimization in Spark SQL that fuses multiple physical operators (as a subtree of plans that support code generation) together into a single Java function.
- Whole-Stage Java Code Generation improves the execution performance of a query by collapsing a query tree into a single optimized function that eliminates virtual function calls and leverages CPU registers for intermediate data.

### FileScanRDD
- FileScan represents reading the data from a file.
- It is  given FilePartitions that are custom RDD partitions with PartitionedFiles (file blocks)
- In our scenario, the CSV file is read

![image-2.png](attachment:image-2.png)

### MapPartitionsRDD
- Will be created when you use map Partition transformation
- Has exactly one-to-one narrow dependency
- MapPartitionsRDD is the result of the following transformations:
    - map
    - flatMap
    - filter

### SQLExecutionRDD
- Spark property that is used to track multiple Spark jobs that should all together constitute a single structured query execution.

### DeserializeToObject:
- With the DataFrame API, a lot of operators work on InternalRow, the optimized representation of a row into memory
- But the MapPartitions operator works on a standard Scala object
- We need to use an operator, DeserializeToObject, to convert data from an InternalRow to a Dataframe object.

### SerializeFromObject
- This operator is used to go back to the DataFrame world.

### treeAggregate
- In case of treeAggregate imagine the follow n-ary tree that has all the partitions at its leaves and the root will contain the final reduced value

![image.png](attachment:image.png)